        body {
            background: linear-gradient(96.2deg, rgb(255, 230, 112) 10.4%, rgb(255, 100, 100) 43.8%, rgb(0, 93, 219) 105.8%);
            
        }

        .container {
            max-width: 500px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .cover {
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
        }

        .cover img {
            max-width: 230px; /* Adjust the max-width as needed */
            height: auto;
            border-radius: 20px;
        }

        .forms {
            margin-top: 20px;
        }

        .title {
            font-size: 24px;
            font-weight: 500;
            color: #333;
            margin-bottom: 20px;
        }

        .input-boxes {
            margin-top: 20px;
        }

        .input-box {
            position: relative;
            margin: 10px 0;
        }

        .input-box input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-top: 5px;
        }

        .input-box i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            color: #7d2ae8;
        }

        .text {
            font-size: 14px;
            font-weight: 500;
            color: #333;
            margin-top: 10px;
        }

        .button {
            margin-top: 20px;
        }

        .button input {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            background-color: #7d2ae8;
            color: #fff;
            border: 1px solid #a761ad;
        }

        .button input:hover {
            background-color: #5b13b9;
            border-color: #5b13b9;
        }
